<h1>Pacientes hospitalarios</h1>
<table border = "1">
  <tr> Nombre
    <th>Paciente 1: {{paciente1[0].nombre}}{{paciente1[0].apellido}}</th>
    <th>Paciente 2: {{paciente1[1].nombre}} {{paciente1[1].apellido}}</th>
    <th>Paciente 3: {{paciente1[2].nombre}} {{paciente1[2].apellido}}</th>
  </tr>
  <tr> Cedula
    <th>{{paciente1[0].cedula}}</th>
    <th>{{paciente1[1].cedula}}</th>
    <th>{{paciente1[2].cedula}}</th>
  </tr>
  <tr> RH
    <th>{{paciente1[0].rh}}</th>
    <th>{{paciente1[1].rh}}</th>
    <th>{{paciente1[2].rh}}</th>
  </tr>
  <tr> Foto
    <th>{{paciente1[0].foto}}</th>
    <th>{{paciente1[1].foto}}</th>
    <th>{{paciente1[2].foto}}</th>
  </tr>
</table>